* {
  .box-sizing(border-box);
  *behavior: url(/js/boxsizing.htc); // enable for old ie browsers
  outline: 0;
}
html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-backface-visibility: hidden; // avoid transition-flickr on iPhone
}

img, input {
  width: 100%;
  height: auto;
  display: block;
}

.resetList();
