<% layout('boilerplate') -%>

<div class="four columns">
  <h1><%= title %></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quam non est exercitationem dolorum aspernatur magni magnam dicta ab accusantium! Dignissimos est quod possimus fugit enim aut harum quae nesciunt?</p>

  <h2>Header 2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta suscipit architecto quidem temporibus et rem ratione cumque numquam dolor explicabo fuga similique doloremque veniam error quam est aliquid veritatis voluptas.</p>

  <h3>Header 3</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem in doloribus repellendus optio ad a provident ea aperiam quae debitis atque explicabo eos nemo quibusdam eveniet commodi officia ab quis.</p>
</div>