<% layout('master') -%>

<div class="row">
  <div class="four-by-four six-by-eight eight-by-sixteen columns left-offset-one-by-eight right-offset-one-by-eight left-offset-four-by-sixteen right-offset-four-by-sixteen">
    <h1><%= title %></h1>
    <p>Get startet with your next website project in <a href="http://nodejs.org">Node.js</a> with a blink of an eye.</p>
    <h2>Responsive Grid System</h2>
  </div>
  <div class="one-by-four one-by-eight one-by-sixteen column"><div class="dark box geoposition sprite"></div></div>
  <div class="one-by-four one-by-eight one-by-sixteen column"><div class="dark box"></div></div>
  <div class="one-by-four one-by-eight one-by-sixteen column"><div class="dark box"></div></div>
  <div class="one-by-four one-by-eight one-by-sixteen column"><div class="dark box"></div></div>

  <div class="one-by-eight one-by-sixteen column hide-four"><div class="dark box"></div></div>
  <div class="one-by-eight one-by-sixteen column hide-four"><div class="dark box"></div></div>
  <div class="one-by-eight one-by-sixteen column hide-four"><div class="dark box"></div></div>
  <div class="one-by-eight one-by-sixteen column hide-four"><div class="dark box"></div></div>

  <div class="one-by-sixteen column only-sixteen"><div class="dark box"></div></div>
  <div class="one-by-sixteen column only-sixteen"><div class="dark box"></div></div>
  <div class="one-by-sixteen column only-sixteen"><div class="dark box"></div></div>
  <div class="one-by-sixteen column only-sixteen"><div class="dark box"></div></div>
  <div class="one-by-sixteen column only-sixteen"><div class="dark box"></div></div>
  <div class="one-by-sixteen column only-sixteen"><div class="dark box"></div></div>
  <div class="one-by-sixteen column only-sixteen"><div class="dark box"></div></div>
  <div class="one-by-sixteen column only-sixteen"><div class="dark box"></div></div>


  <div class="four-by-four columns"><div class="light box"></div></div>
  <div class="three-by-four three-by-sixteen columns"><div class="light box"></div></div>
  <div class="one-by-four thirteen-by-sixteen column"><div class="light box"></div></div>
  <div class="two-by-four two-by-eight  columns"><div class="light box"></div></div>
  <div class="two-by-four six-by-eight columns"><div class="light box"></div></div>
  <div class="four-by-four six-by-eight eight-by-sixteen columns left-offset-one-by-eight right-offset-one-by-eight left-offset-four-by-sixteen right-offset-four-by-sixteen">
    <p>Packed with a responsive grid system with folding grids on 4, 8 and 16 columns.</p>

    <h2>LESS</h2>
    <p>Include a lot of helper mixins making it easy to get started quickly with new projects</p>

    <h2>Javascript</h2>
    <p>Include a simple yet powerfull inheritance model for easier handling prototyping and object-oriented javascript</p>
    <p>Packed with a lot of helpfull helper methods ready to be included and used in the project, for faster javascript development.</p>

    <h2>Production ready</h2>
    <p>Packed with a assetmanager, that compiles and compresses on the fly on development environment, which makes it easy to see changes in html, images, css and javascript live.</p>

    <h3>Javascript concat and compress</h3>
    <p>Split your javascript code i many seperat files for easier management and let the assetmanager take care of all the dirty work. When ever a js file changes the concat and compress operation automatically kicks in.</p>

    <h3>LESS compile and compress</h3>
    <p>Manage your css with LESS and let the assetmanagermanager automatic compile and compress your code whenever a change to the less files accours.</p>

    <h3>Compress image and make sprite image</h3>
    <p>Save your images in high quality and with all layers for easier manipulation. Let the assetmanager compress then and put them in the public folder.</p>
    <p>All files saved to a sprite folder automatically gets merged into one sprite file and according css is create on the fly.</p>

    <h3>Cache</h3>
    <p>Extremely aggressive cache on all image, css and javascript files for better performance. When ever assetmanager handles at file it creates a uniq link to the new file making cache no problem.</p>

  </div>

  </div>
</div>