<% layout('master') -%>

<div class="row">
  <div class="four-by-four six-by-eight eight-by-sixteen columns left-offset-one-by-eight right-offset-one-by-eight left-offset-four-by-sixteen right-offset-four-by-sixteen">
    <h1><%= title %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quam non est exercitationem dolorum aspernatur magni magnam dicta ab accusantium! Dignissimos est quod possimus fugit enim aut harum quae nesciunt?</p>
  </div>
  <div class="one-by-four one-by-eight one-by-sixteen column"><div class="black">four / null / null columns</div></div>
  <div class="four-by-four columns"><div class="grey">four / null / null columns</div></div>
  <div class="three-by-four three-by-sixteen columns"><div class="grey">three / null / three columns</div></div>
  <div class="one-by-four thirteen-by-sixteen column"><div class="grey">one / null / thirteen column</div></div>
  <div class="two-by-four two-by-eight  columns"><div class="grey">two / two / null columns</div></div>
  <div class="two-by-four six-by-eight columns"><div class="grey">two / six / null columns</div></div>
  <div class="four-by-four six-by-eight eight-by-sixteen columns left-offset-one-by-eight right-offset-one-by-eight left-offset-four-by-sixteen right-offset-four-by-sixteen">
    <h2>Header 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta suscipit architecto quidem temporibus et rem ratione cumque numquam dolor explicabo fuga similique doloremque veniam error quam est aliquid veritatis voluptas.</p>

    <h3>Header 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem in doloribus repellendus optio ad a provident ea aperiam quae debitis atque explicabo eos nemo quibusdam eveniet commodi officia ab quis.</p>

    <h2>Grid</h2>

    <h3>Fluid columns</h3>
  </div>

  </div>
</div>