<% layout('master') -%>
<div class="row">
  <div id="mocha" class="four-by-four eight-by-sixteen columns"></div>
  <script>
    jsRefs.push('<%= url("/js/testframework.js") %>');
    jsRefs.push('<%= url("/js/tests.js") %>');
    jsRefs.push('<%= url("/js/start-tests.js") %>');
  </script>
</div>