// sprite
@sprite-retina-width        : 900px;
@sprite-retina-height       : 302px;
@sprite-image               : '/img/sprite.png';

// typo
@line                       : 24px;
@font-size                  : 15px;

// colors
@color-font                 : #1e1e1e;
@color-font-light           : #777777;
@color-font-negative        : #ffffff;

@color-background           : #ffffff;
@color-background-bark      : #dddddd;
@color-background-negative  : #777777;

@color-primary              : #30344f;
@color-secondary            : #30344f;

// responsive
@breakpoint-eight-columns   : 700px;
@breakpoint-sixteen-columns : 1400px;