// sprite
@spriteRetinaWidth       : 900px;
@spriteRetinaHeight      : 302px;
@spriteImage             : '/img/sprite.png';

// typo
@line                    : 24px;
@fontSize                : 16px;

// colors
@colorFont               : #1e1e1e;
@colorFontLight          : #777777;
@colorFontNegative       : #ffffff;

@colorBackground         : #ffffff;
@colorBackgroundDark     : #dddddd;
@colorBackgroundNegative : #777777;

@colorPrimary            : #30344f;
@colorSecondary          : #30344f;

// responsive
@breakpoint8             : 720px;
@breakpoint16            : 1440px;