#gradient {

}

#shadow {
  #box {
    .curly() {
      &:before, &:after {
        .box-shadow(~"0 15px 10px rgba(0, 0, 0, 0.5);");
        .rotate(-5deg);
        position: absolute;
        left: 5px;
        bottom: 16px;
        z-index: -1;
        width: 50%;
        max-width: 300px;
        height: 20%;
        content: "";
      }
      &:after {
        .rotate(5deg);
        left: auto;
        right: 5px;
      }
    }
  }
}