
@font-face {
  //.font-face('header','/font/blanch_condensed_light');
  // .font-face('header','/font/bariol_regular');
  .font-face('header','/font/nexa_light');
}
@font-face {
  //.font-face('header','/font/blanch_condensed');
  .font-face('header','/font/nexa_bold');
  font-weight: bold;
}

#typo {

  #font {
    .normal() {
      font-family: Helmet, Freesans, sans-serif; //  Helvitica Neue on mac and Arial on Windows
    }
    .header() {
      font-family: 'header';
    }
  }

  .setBaseTypo(@size, @lineHeight) {
    @baseCalcSize: 15;
    @baseCalcLine: 24;

    @fontSizeRatio: @size/@baseCalcSize;
    @lineHeightRatio: @lineHeight/@baseCalcLine;

    font-size: 1em*@fontSizeRatio;
    line-height: @lineHeightRatio*@line+0px;
  }

  .small() {
    #typo > .setBaseTypo(13,18);
  }
  .normal() {
    font-size: @fontSize*1px; // 15px
    line-height: @line; // 24px
  }
  .big() {
    #typo > .setBaseTypo(15,24);
  }
  .bigger() {
    #typo > .setBaseTypo(22,36);
  }
  .biggest() {
    #typo > .setBaseTypo(32,36);
  }
}