#typo {

  #font {
    .normal() {
      font-family: Helmet, Freesans, sans-serif; //  Helvitica Neue on mac and Arial on Windows
    }
    .header() {
      font-family: 'header';
    }
  }

  .small() {
    font-size: 1em/@font-size*12; // 12px
    line-height: @line-height; // 24px
  }
  .normal() {
    font-size: 1em; // 15px
    line-height: @line-height; // 24px
  }
  .big() {
    font-size: 1em/@font-size*24; // 24px
    line-height: @line-height/24*36; // 36px
  }
  .bigger() {
    font-size: 1em/@font-size*36; // 36px
    line-height: @line-height/24*36; // 36px
  }
  .biggest() {
    font-size: 1em/@font-size*72; // 72px
    line-height: @line-height/24*72; // 72px
    font-weight: bold;
  }
  .huge() {
    font-size: 1em/@font-size*120; // 72px
    line-height: @line-height/24*120; // 72px
    font-weight: bold;
  }
}