/*
*
*  Four-column grid active
*  -----------------------
*
*/

@column: 100% / 16;

// Mixins
#grid {
  .width(@cols, @base) {
    width: 16/@base * @cols * @column;
  }
  .left-offset(@cols, @base) {
    margin-left: 16/@base * @cols * @column;
  }
  .right-offset(@cols, @base) {
    margin-right: 16/@base * @cols * @column;
  }
}

.row {
  margin: 0 @line/2;
  .clearfix;
  .row {
    margin: 0 -@line/2;
  }
}

.column, .columns {
  padding : 0 @line/2;
  float   : left;
  display : block;
  height  : 100%;

  // Cols
  &.one {                    #grid > .width(1,4); }
  &.two {                    #grid > .width(2,4); }
  &.three {                  #grid > .width(3,4); }
  &.four {                   #grid > .width(4,4); }

  // Offset
  &.left-offset-by-one {     #grid > .left-offset(1,4); }
  &.left-offset-by-two {     #grid > .left-offset(2,4); }
  &.left-offset-by-three {   #grid > .left-offset(3,4); }

  &.right-offset-by-one {    #grid > .right-offset(1,4); }
  &.right-offset-by-two {    #grid > .right-offset(2,4); }
  &.right-offset-by-three {  #grid > .right-offset(3,4); }

  // Nested columns
  &.three {
    .one {                   width       : 100%/3*1; }
    .two {                   width       : 100%/3*2; }

    .left-offset-by-one {    margin-left : 100%/3*1; }
    .left-offset-by-two {    margin-left : 100%/3*2; }
    .right-offset-by-one {   margin-right: 100%/3*1; }
    .right-offset-by-two {   margin-right: 100%/3*2; }
  }

  &.two {
    .one {                   width       : 100%/2*1; }

    .left-offset-by-one {    margin-left : 100%/2*1; }
    .right-offset-by-one {   margin-right: 100%/2*1; }
  }
}


/*
*
*  Eight-column grid active
*  ------------------------
*
*/

/* @media screen and (min-width: 720px) */
@media screen and (min-width: @breakpoint-8) {

  .column, .columns {
    &.fixed {

      // Cols
      &.one {                    #grid > .width(1,8); }
      &.two {                    #grid > .width(2,8); }
      &.three {                  #grid > .width(3,8); }
      &.four {                   #grid > .width(1,8); }

      // Offset
      &.left-offset-by-one {     #grid > .left-offset(1,8); }
      &.left-offset-by-two {     #grid > .left-offset(2,8); }
      &.left-offset-by-three {   #grid > .left-offset(3,8); }

      &.right-offset-by-one {    #grid > .right-offset(1,8); }
      &.right-offset-by-two {    #grid > .right-offset(2,8); }
      &.right-offset-by-three {  #grid > .right-offset(3,8); }
    }
  }

}


/*
*
*  Sixteen-column grid active
*  --------------------------
*
*/

/* @media screen and (min-width: 1440px) */
@media screen and (min-width: @breakpoint-16) {

  .column, .columns {
    &.fixed {

      // Cols
      &.one {                    #grid > .width(1,16); }
      &.two {                    #grid > .width(2,16); }
      &.three {                  #grid > .width(3,16); }
      &.four {                   #grid > .width(4,16); }

      // Offset
      &.left-offset-by-one {     #grid > .left-offset(1,16); }
      &.left-offset-by-two {     #grid > .left-offset(2,16); }
      &.left-offset-by-three {   #grid > .left-offset(3,16); }

      &.right-offset-by-one {    #grid > .right-offset(1,16); }
      &.right-offset-by-two {    #grid > .right-offset(2,16); }
      &.right-offset-by-three {  #grid > .right-offset(3,16); }
    }

    &.semifixed {

      // Cols
      &.one {                    #grid > .width(2,16); }
      &.two {                    #grid > .width(4,16); }
      &.three {                  #grid > .width(6,16); }
      &.four {                   #grid > .width(8,16); }

      // Offset
      &.left-offset-by-One {     #grid > .left-offset(2,16); }
      &.left-offset-by-Two {     #grid > .left-offset(4,16); }
      &.left-offset-by-Three {   #grid > .left-offset(6,16); }

      &.right-offset-by-One {    #grid > .right-offset(2,16); }
      &.right-offset-by-Two {    #grid > .right-offset(4,16); }
      &.right-offset-by-Three {  #grid > .right-offset(6,16); }
    }
  }


}



/*
*
*  Show grid wih Ctrl+g i development mode
*  --------------------------
*
*/

#grid {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -100;
  white-space: nowrap;
  overflow: hidden;
  .row, .column, .columns {
    height: 100%;
  }
  .column.one {
    .transition(~"all 500ms ease-in-out");
    width: 100%/16;
    padding: 0;

    &:nth-child(4n+1) {
      padding-left: @line/2;
    }
    &:nth-child(4n) {
      padding-right: @line/2;
    }
  }
  .fill {
    width: 100%;
    height: 100%;
    background: rgba(255,0,0,0);
    .transition(~"background 1s ease-in-out");

    .show-horizontal-line {
        height: @line/2;
        border-bottom: 1px solid rgba(255,0,0,0);
    }

  }
  &.active {
    z-index: 100;
    .fill {
      background: rgba(255,0,0,0.1);
      .show-horizontal-line {
        border-bottom: 1px dashed rgba(255,0,0,0.2);
        &:nth-child(2n+1) {
          border-bottom: 1px dotted rgba(255,0,0,0.1);
        }
      }
    }
  }
}

// 8 columns
@media screen and (min-width: @breakpoint-8) {
  #grid {
    .column.one {
      &:nth-child(4n+2) {
        padding-right: @line/2;
      }
      &:nth-child(4n+3) {
        padding-left: @line/2;
      }
    }
  }
}

// 16 columns
@media screen and (min-width: @breakpoint-16) {
  #grid {
    .column.one {
      &:nth-child(2n+1) {
        padding-right: @line/2;
      }
      &:nth-child(2n+2) {
        padding-left: @line/2;
      }
    }
  }
}
