/*
*
* Zoomable baseline grid
* type size presets
*
*/

body {
  #typo > .normal;
  #typo > #font > .normal;
}

h1 {
  #typo > .biggest;
  #typo > #font > .header;
  margin: @line 0 @line/2;
}

h2 {
  #typo > .bigger;
  #typo > #font > .header;
  margin: @line 0 @line/2;
}

h3, h4 {
  #typo > .big;
  margin: @line 0 @line/2;
}

p {
  margin: 0 0 @line/2;
}

small {
  #typo > .small;
}

a {
  color: @lightFontColor;
  text-decoration: underline;
  &:hover {
    color: @fontColor;
  }
}