/*
*
* Zoomable baseline grid
* type size presets
*
*/

@font-face {
  .font-face('museo','/font/Museo_Slab_300');
}
@font-face {
  .font-face('museo','/font/Museo_Slab_500');
  font-weight: bold;
}

#typo {
  .fontNormal() {
    font-family: Helmet, Freesans, sans-serif; //  Helvitica Neue on mac and Arial on Windows
  }

  .fontHeader() {
    font-family: museo;
  }

  .setBaseTypo(@size, @lineHeight) {
    @baseCalcSize: 15;
    @baseCalcLine: 24;

    @fontSizeRatio: @size/@baseCalcSize;
    @lineHeightRatio: @lineHeight/@baseCalcLine;

    font-size: 1em*@fontSizeRatio;
    line-height: @lineHeightRatio*@line+0px;
  }

  .small() {
    .setBaseTypo(13,18);
  }
  .normal() {
    font-size: @fontSize*1px; // 15px
    line-height: @line; // 24px
  }
  .big() {
    .setBaseTypo(15,24);
    font-weight: bold;
  }
  .bigger() {
    .setBaseTypo(22,36);
    .fontHeader();
    font-weight: bold;
  }
  .biggest() {
    .setBaseTypo(32,36);
    .fontHeader();
    font-weight: normal;
  }
}